/* general style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth; 
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto, sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: unset;
}
ul{
    list-style-type: none;
}

/* header */
.header{
    background-color: gold;
    padding: 15px 0px;
}
.menu__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
}
.menu__item{
    color: white;
    font-weight: 700;
    transition: transform 0.3s;
}
.menu__item:hover{
    transition: color 1s;
    color: black;
    transform: scale(1.1);
}
.hamburger{
    display: none;
}

/* main */
.main{
    min-height: 100vh;
    margin-bottom: 50px;
}
.main__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section{
    width: calc(50% - 20px);
    padding: 10px;
    padding-bottom: 30px;
    border-bottom: 3px solid gold;
}
.section-profile{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 30px 30px;
    border-bottom: 15px solid gold;
}
.img_photo{
    position: relative;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid gold;
    box-shadow: inset 0px 0px 1em grey;
}
.img_photo>img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.main__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1.name{
    position: relative;
    color: rgb(95, 95, 95);
    font-size: 3.5em;
    letter-spacing: 1.5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
h1.name::before{
    content: '';
    position: absolute;
    background-color: gold;
    width: 270px;
    height: 3px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h2.specialty{
    text-transform: uppercase;
    color: grey;
}
h2.title{
    margin: 20px 0px;
    color: rgb(95, 95, 95);
}
.main_lists{
    color: grey;
}
.lists-item{
    position: relative;
    margin-top: 15px;
    font-weight: 700;
    padding-left: 25px;
}
.lists-item::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 0px;
    transform: translateY(-55%);
    border: 3px solid gold;
    border-radius: 50%;
}
.lists-item::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    top: 50%;
    left: 5px;
    transform: translateY(-60%);
    background-color: gold;
    border-radius: 50%;
}
.link{
    color: rgb(230, 150, 5);
}
div.lists-item{
    color: grey;
}
.lists-item>span{
    color: rgb(150, 190, 15);
}
.lists-item>span.subtitle{
    margin-top: 5px;
    font-size: 0.89em;
}
p.descr-summary{
    margin-top: 15px;
    color: grey;
}
.section-code{
    height: 130px;
}
.code-js{
    color: grey;
    font-weight: 700;
}

/* footer */
.footer{
    background-color: orange;
    padding: 10px 0px;
}
.footer__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright{
    font-size: 1.2em;
    font-weight: 700;
}
.copyright>span{
    display: block;
    width: 64px;
}
.img_rss{
    width: 90px;
}

/* Adaptive */
@media (max-width: 1400px){
    .container{
        padding: 0 20px;
    }
}
@media (max-width: 992px){
    .menu__items{
        font-size: 1.3em;
    }
    h1.name{
        font-size: 2.5em;
    }
    h1.name::before{
        width: 180px;
    }
    h2.specialty{
        font-size: 1.15em;
    }
}
@media (max-width: 768px) {
    .container{
        max-width: 540px;
    }
    .section {
      width: 100%;
    }
    .section-profile{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    h1.name{
        font-size: 3.5em;
    }
    h1.name::before{
        width: 270px;
    }
    h2.specialty{
        font-size: 1.5em;
    }
    .menu{
        display: none;
    }
    .menu.show{
        display: block;
    }
    .menu__items{
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        font-size: 2em;
        line-height: 1.6em;
        transition:  2s;
    }
    .menu__item:hover{
        color: white;
        transform: all unset;
    }
    .hamburger{
        float: right;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 45px;
        height: 20px;
    }
    .hamburger>span{
        display: block;
        height: 3px;
        background-color: white;
        transition: all 0.4s;
    }
    .hamburger.show{
        justify-content: center;
        height: 45px;
    }
    .hamburger.show>span:nth-child(1){
        transform-origin: center center;
        transform: translateX(1px) rotate(45deg) translateY(2px);
    }
    .hamburger.show>span:nth-child(2){
        display: none;
    }
    .hamburger.show>span:nth-child(3){
        transform-origin: center center;
        transform: translateX(1px) rotate(-45deg) translateY(-2px);
    }
}

@media (max-width: 576px){
    .container{
        width: 100%;
    }
    h1.name{
        text-align: center;
        font-size: 3em;
    }
    h1.name::before{
        width: 170px;
    }
    h2.specialty{
        font-size: 1em;
    }
}
